In [1]:
import pandas as pd
URL = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
df = pd.read_csv(URL)
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [11]:
df_world = df[df['location']=='World'].copy()
df_continents = df[df['continent'].isna()==True].copy()
list(df_continents.location.unique())

['Africa',
 'Asia',
 'Europe',
 'European Union',
 'High income',
 'International',
 'Low income',
 'Lower middle income',
 'North America',
 'Oceania',
 'South America',
 'Upper middle income',
 'World']

In [12]:
continents = list(df[df['continent'].isna()==True].location.unique())
continents

['Africa',
 'Asia',
 'Europe',
 'European Union',
 'High income',
 'International',
 'Low income',
 'Lower middle income',
 'North America',
 'Oceania',
 'South America',
 'Upper middle income',
 'World']

In [20]:
df[(df['continent'].isna()) & (df.date > '2021-12-10')]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Active_new_week,weekly_incidence_per_100k_pop
1328,OWID_AFR,NaN,Africa,2021-12-11,8896226.0,32924.0,24587.571,224299.0,154.0,127.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172113.0,0.012531
1329,OWID_AFR,NaN,Africa,2021-12-12,8941513.0,45287.0,28964.143,224409.0,110.0,131.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202749.0,0.014762
1330,OWID_AFR,NaN,Africa,2021-12-13,8958727.0,17214.0,29847.286,224485.0,76.0,121.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,208931.0,0.015212
1331,OWID_AFR,NaN,Africa,2021-12-14,8997648.0,38921.0,32542.429,224684.0,199.0,131.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227797.0,0.016585
1332,OWID_AFR,NaN,Africa,2021-12-15,9041961.0,44313.0,34062.429,224830.0,146.0,129.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,238437.0,0.017360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139069,OWID_WRL,NaN,World,2021-12-11,269739121.0,488565.0,613910.286,5301760.0,5709.0,7558.429,...,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN,4297372.0,0.054570
139070,OWID_WRL,NaN,World,2021-12-12,270159882.0,420761.0,611636.429,5306078.0,4318.0,7151.429,...,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN,4281455.0,0.054368
139071,OWID_WRL,NaN,World,2021-12-13,270795523.0,635641.0,617638.286,5312553.0,6475.0,7073.286,...,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN,4323468.0,0.054901
139072,OWID_WRL,NaN,World,2021-12-14,271469226.0,673703.0,615150.000,5320822.0,8269.0,7084.857,...,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN,4306050.0,0.054680
139073,OWID_WRL,NaN,World,2021-12-15,272205417.0,736191.0,624439.429,5329879.0,9057.0,7239.571,...,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN,4371076.0,0.055506

In [12]:
df['Active_new_week'] = df.groupby('location')['new_cases'].transform(lambda x: x.rolling(window=7).sum().fillna(0))
df['weekly_incidence_per_100k_pop'] = df.Active_new_week / df.population * 100
df.fillna({'weekly_incidence_per_100k_pop': 0}, inplace=True)
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Active_new_week,weekly_incidence_per_100k_pop
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.0,0.000000
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.0,0.000000
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.0,0.000000
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.0,0.000000
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140958,ZWE,Africa,Zimbabwe,2021-12-11,165002.0,9185.0,3782.714,4735.0,12.0,3.714,...,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,26479.0,0.175449
140959,ZWE,Africa,Zimbabwe,2021-12-12,167140.0,2138.0,4013.429,4738.0,3.0,4.000,...,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,28094.0,0.186149
140960,ZWE,Africa,Zimbabwe,2021-12-13,167140.0,0.0,4013.429,4738.0,0.0,4.000,...,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,28094.0,0.186149
140961,ZWE,Africa,Zimbabwe,2021-12-14,172012.0,4872.0,4344.429,4740.0,2.0,3.857,...,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,30411.0,0.201502
140962,ZWE,Africa,Zimbabwe,2021-12-15,177690.0,5678.0,3866.000,4745.0,5.0,3.571,...,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,27062.0,0.179312