In [15]:
import pandas as pd
URL = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
POPULATION_LABELS = ['Very small', 'Small', 'Medium', 'Large', 'Very Large', 'Extra Large']

df = pd.read_csv(URL)
df['Active_new_week'] = df.groupby('location')['new_cases'].transform(lambda x: x.rolling(window=7).sum().fillna(0))
df['Incident_rate'] = (df.Active_new_week / df.population * 100000).fillna(0).astype(int)
population_bins = [0, 1e6, 1e7, 5e7, 1e8, 1e9, 2e10]
df['country_size'] = pd.cut(df['population'], bins=population_bins, labels=POPULATION_LABELS)
df.fillna({'Incident_rate': 0}, inplace=True)
df['date'] = pd.to_datetime(df['date'])
df_latest = df[df.date == df.date.max()]
df_latest.shape

(228, 70)

In [2]:
continents = list(df[df['continent'].isna()==True].location.unique())

In [3]:
df[(df['continent'].isna()) & (df.date > '2021-12-10')]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1331,OWID_AFR,NaN,Africa,2021-12-11,8896230.0,32924.0,24587.571,224299.0,154.0,127.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332,OWID_AFR,NaN,Africa,2021-12-12,8941517.0,45287.0,28964.143,224409.0,110.0,131.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,OWID_AFR,NaN,Africa,2021-12-13,8958731.0,17214.0,29847.286,224485.0,76.0,121.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,OWID_AFR,NaN,Africa,2021-12-14,8997652.0,38921.0,32542.429,224684.0,199.0,131.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1335,OWID_AFR,NaN,Africa,2021-12-15,9041965.0,44313.0,34062.429,224830.0,146.0,129.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146431,OWID_WRL,NaN,World,2021-12-14,271469226.0,673703.0,615150.000,5320822.0,8269.0,7084.857,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
146432,OWID_WRL,NaN,World,2021-12-15,272205417.0,736191.0,624439.429,5329879.0,9057.0,7239.571,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
146433,OWID_WRL,NaN,World,2021-12-16,272958286.0,752869.0,628526.857,5337172.0,7293.0,7038.571,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
146434,OWID_WRL,NaN,World,2021-12-17,273668314.0,710028.0,631108.286,5344177.0,7005.0,6875.143,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
146435,OWID_WRL,NaN,World,2021-12-18,274217353.0,549039.0,639747.429,5349728.0,5551.0,6852.571,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN

In [29]:
l = {'Very small': False, 'Small': False, 'Medium': False, 'Large': False, 'Very Large': True, 'Extra Large': True}
s = [k for k,v in l.items() if v==True]
df_latest[df_latest.country_size.isin(s) & (df_latest.continent.isna() ==False)][['location','population', 'country_size']]

             location    population country_size
11933      Bangladesh  1.663035e+08   Very Large
19710          Brazil  2.139934e+08   Very Large
28888           China  1.444216e+09  Extra Large
40165           Egypt  1.042583e+08   Very Large
44063        Ethiopia  1.178762e+08   Very Large
62949           India  1.393409e+09  Extra Large
63606       Indonesia  2.763618e+08   Very Large
69619           Japan  1.260508e+08   Very Large
88220          Mexico  1.302622e+08   Very Large
99129         Nigeria  2.114007e+08   Very Large
103531       Pakistan  2.251999e+08   Very Large
107652    Philippines  1.110469e+08   Very Large
111066         Russia  1.459120e+08   Very Large
140927  United States  3.329151e+08   Very Large

In [23]:
df[df.continent.isna()==False]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Active_new_week,Incident_rate,country_size
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.0,0,Medium
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.0,0,Medium
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.0,0,Medium
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.0,0,Medium
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.0,0,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148329,ZWE,Africa,Zimbabwe,2021-12-14,172012.0,4872.0,4344.429,4740.0,2.0,3.857,...,1.7,61.49,0.571,NaN,NaN,NaN,NaN,30411.0,201,Medium
148330,ZWE,Africa,Zimbabwe,2021-12-15,177690.0,5678.0,3866.000,4745.0,5.0,3.571,...,1.7,61.49,0.571,NaN,NaN,NaN,NaN,27062.0,179,Medium
148331,ZWE,Africa,Zimbabwe,2021-12-16,182057.0,4367.0,3748.571,4759.0,14.0,5.143,...,1.7,61.49,0.571,NaN,NaN,NaN,NaN,26240.0,173,Medium
148332,ZWE,Africa,Zimbabwe,2021-12-17,189567.0,7510.0,4821.429,4779.0,20.0,8.000,...,1.7,61.49,0.571,NaN,NaN,NaN,NaN,33750.0,223,Medium
148333,ZWE,Africa,Zimbabwe,2021-12-18,189567.0,0.0,3509.286,4779.0,0.0,6.286,...,1.7,61.49,0.571,NaN,NaN,NaN,NaN,24565.0,162,Medium