In [1]:
import pandas as pd
URL = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
df = pd.read_csv(URL)
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [2]:
continents = list(df[df['continent'].isna()==True].location.unique())
continents

['Africa',
 'Asia',
 'Europe',
 'European Union',
 'High income',
 'International',
 'Low income',
 'Lower middle income',
 'North America',
 'Oceania',
 'South America',
 'Upper middle income',
 'World']

In [3]:
df[(df['continent'].isna()) & (df.date > '2021-12-10')]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1331,OWID_AFR,NaN,Africa,2021-12-11,8896230.0,32924.0,24587.571,224299.0,154.0,127.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332,OWID_AFR,NaN,Africa,2021-12-12,8941517.0,45287.0,28964.143,224409.0,110.0,131.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,OWID_AFR,NaN,Africa,2021-12-13,8958731.0,17214.0,29847.286,224485.0,76.0,121.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,OWID_AFR,NaN,Africa,2021-12-14,8997652.0,38921.0,32542.429,224684.0,199.0,131.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1335,OWID_AFR,NaN,Africa,2021-12-15,9041965.0,44313.0,34062.429,224830.0,146.0,129.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146431,OWID_WRL,NaN,World,2021-12-14,271469226.0,673703.0,615150.000,5320822.0,8269.0,7084.857,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
146432,OWID_WRL,NaN,World,2021-12-15,272205417.0,736191.0,624439.429,5329879.0,9057.0,7239.571,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
146433,OWID_WRL,NaN,World,2021-12-16,272958286.0,752869.0,628526.857,5337172.0,7293.0,7038.571,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
146434,OWID_WRL,NaN,World,2021-12-17,273668314.0,710028.0,631108.286,5344177.0,7005.0,6875.143,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
146435,OWID_WRL,NaN,World,2021-12-18,274213886.0,545572.0,639252.143,5349699.0,5522.0,6848.429,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN

In [10]:
df['Active_new_week'] = df.groupby('location')['new_cases'].transform(lambda x: x.rolling(window=7).sum().fillna(0))
df['weekly_incidence_per_100k_pop'] = df.Active_new_week / df.population * 100
df.fillna({'weekly_incidence_per_100k_pop': 0}, inplace=True)
df[['population', 'location']]

        population     location
0       39835428.0  Afghanistan
1       39835428.0  Afghanistan
2       39835428.0  Afghanistan
3       39835428.0  Afghanistan
4       39835428.0  Afghanistan
...            ...          ...
148329  15092171.0     Zimbabwe
148330  15092171.0     Zimbabwe
148331  15092171.0     Zimbabwe
148332  15092171.0     Zimbabwe
148333  15092171.0     Zimbabwe

[148334 rows x 2 columns]

In [8]:
population_bins = [0, 1e3, 1e4, 5e4, 1e5, 5e5, 5e6]
population_labels = ['Very small', 'Small', 'Medium', 'Large', 'Very Large', 'Extra Large']
df['country_size'] = pd.cut(df['population'], bins=population_bins, labels=population_labels)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148334 entries, 0 to 148333
Data columns (total 70 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    148334 non-null  object
 1   continent                                   139379 non-null  object
 2   location                                    148334 non-null  object
 3   date                                        148334 non-null  object
 4   total_cases                                 145734 non-null  float64
 5   new_cases                                   145728 non-null  float64
 6   new_cases_smoothed                          144583 non-null  float64
 7   total_deaths                                128772 non-null  float64
 8   new_deaths                                  128968 non-null  float64
 9   new_deaths_smoothed                         144583 non-null  float64
 10  total_cases_per_million                     145053 non-null  float64
 11  new_cases_per_million                       145047 non-null  float64
 12  new_cases_smoothed_per_million              143907 non-null  float64
 13  total_deaths_per_million                    128104 non-null  float64
 14  new_deaths_per_million                      128300 non-null  float64
 15  new_deaths_smoothed_per_million             143907 non-null  float64
 16  reproduction_rate                           111455 non-null  float64
 17  icu_patients                                17283 non-null   float64
 18  icu_patients_per_million                    17283 non-null   float64
 19  hosp_patients                               19742 non-null   float64
 20  hosp_patients_per_million                   19742 non-null   float64
 21  weekly_icu_admissions                       1344 non-null    float64
 22  weekly_icu_admissions_per_million           1344 non-null    float64
 23  weekly_hosp_admissions                      2236 non-null    float64
 24  weekly_hosp_admissions_per_million          2236 non-null    float64
 25  new_tests                                   59029 non-null   float64
 26  total_tests                                 59184 non-null   float64
 27  total_tests_per_thousand                    59184 non-null   float64
 28  new_tests_per_thousand                      59029 non-null   float64
 29  new_tests_smoothed                          71852 non-null   float64
 30  new_tests_smoothed_per_thousand             71173 non-null   float64
 31  positive_rate                               67063 non-null   float64
 32  tests_per_case                              66401 non-null   float64
 33  tests_units                                 73282 non-null   object
 34  total_vaccinations                          37211 non-null   float64
 35  people_vaccinated                           35698 non-null   float64
 36  people_fully_vaccinated                     32716 non-null   float64
 37  total_boosters                              10190 non-null   float64
 38  new_vaccinations                            30832 non-null   float64
 39  new_vaccinations_smoothed                   67331 non-null   float64
 40  total_vaccinations_per_hundred              37211 non-null   float64
 41  people_vaccinated_per_hundred               35698 non-null   float64
 42  people_fully_vaccinated_per_hundred         32716 non-null   float64
 43  total_boosters_per_hundred                  10190 non-null   float64
 44  new_vaccinations_smoothed_per_million       67331 non-null   float64
 45  new_people_vaccinated_smoothed              66193 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  66193 non-null   float64
 47  stringency_index                            116219 non-null  float64
 48  population                                  147336 non-null  float64
 49  population_density                          132051 non-null  float64
 50  median_age                                  123249 non-null  float64
 51  aged_65_older                               121909 non-null  float64
 52  aged_70_older                               122587 non-null  float64
 53  gdp_per_capita                              123628 non-null  float64
 54  extreme_poverty                             81634 non-null   float64
 55  cardiovasc_death_rate                       122273 non-null  float64
 56  diabetes_prevalence                         128534 non-null  float64
 57  female_smokers                              94715 non-null   float64
 58  male_smokers                                93349 non-null   float64
 59  handwashing_facilities                      61228 non-null   float64
 60  hospital_beds_per_thousand                  110482 non-null  float64
 61  life_expectancy                             138430 non-null  float64
 62  human_development_index                     121748 non-null  float64
 63  excess_mortality_cumulative_absolute        5050 non-null    float64
 64  excess_mortality_cumulative                 5050 non-null    float64
 65  excess_mortality                            5050 non-null    float64
 66  excess_mortality_cumulative_per_million     5050 non-null    float64
 67  Active_new_week                             148334 non-null  float64
 68  weekly_incidence_per_100k_pop               148334 non-null  float64
 69  country_size                                58115 non-null   category
dtypes: category(1), float64(64), object(5)
memory usage: 78.2+ MB